In [1]:
# python 3.10.2 
import sys
import os
import numpy as np          # 1.22.0
import pandas as pd         # 1.3.4

In [2]:
print(sys.version)
print('{}: {}'.format(np.__name__, np.__version__))
print(pd.__version__)

3.10.2 (tags/v3.10.2:a58ebcc, Jan 17 2022, 14:12:15) [MSC v.1929 64 bit (AMD64)]
numpy: 1.23.0
1.3.4

In [3]:
sys.path.append(os.path.abspath('../'))

In [4]:
from evaluation import Evaluator
from data import FncData

FNC_DATA_PATH = '../../fnc-1/'

### Tablica službenih rješenja

In [5]:
competition_data = FncData(
    bodies_csv_path=os.path.join(FNC_DATA_PATH, 'competition_test_bodies.csv'),
    stances_csv_path=os.path.join(FNC_DATA_PATH, 'competition_test_stances.csv'))
competition_data.headlines_bodies_and_stances.head()

,Headline,Body ID,Stance,articleBody
0,Ferguson riots: Pregnant woman loses eye after...,2008,unrelated,A RESPECTED senior French police officer inves...
1,Apple Stores to install safes to secure gold A...,2008,unrelated,A RESPECTED senior French police officer inves...
2,Pregnant woman loses eye after police shoot be...,2008,unrelated,A RESPECTED senior French police officer inves...
3,We just found out the #Ferguson Protester who ...,2008,unrelated,A RESPECTED senior French police officer inves...
4,Police Chief In Charge of Paris Attacks Commit...,2008,discuss,A RESPECTED senior French police officer inves...

### Tablice rješenja reproduciranih modela

In [6]:
athene_data = FncData(
    bodies_csv_path=os.path.join(FNC_DATA_PATH, 'competition_test_bodies.csv'),
    stances_csv_path=os.path.join('athene', 'submission.csv'))
athene_data.headlines_bodies_and_stances.head()

,Headline,Body ID,Stance,articleBody
0,Ferguson riots: Pregnant woman loses eye after...,2008,unrelated,A RESPECTED senior French police officer inves...
1,Apple Stores to install safes to secure gold A...,2008,unrelated,A RESPECTED senior French police officer inves...
2,Pregnant woman loses eye after police shoot be...,2008,unrelated,A RESPECTED senior French police officer inves...
3,We just found out the #Ferguson Protester who ...,2008,unrelated,A RESPECTED senior French police officer inves...
4,Police Chief In Charge of Paris Attacks Commit...,2008,discuss,A RESPECTED senior French police officer inves...

In [7]:
athene_official_data = FncData(
    bodies_csv_path=os.path.join(FNC_DATA_PATH, 'competition_test_bodies.csv'),
    stances_csv_path=os.path.join('athene', 'official_FNC_submission.csv'))
athene_official_data.headlines_bodies_and_stances.head()

,Headline,Body ID,Stance,articleBody
0,Ferguson riots: Pregnant woman loses eye after...,2008,unrelated,A RESPECTED senior French police officer inves...
1,Apple Stores to install safes to secure gold A...,2008,unrelated,A RESPECTED senior French police officer inves...
2,Pregnant woman loses eye after police shoot be...,2008,unrelated,A RESPECTED senior French police officer inves...
3,We just found out the #Ferguson Protester who ...,2008,unrelated,A RESPECTED senior French police officer inves...
4,Police Chief In Charge of Paris Attacks Commit...,2008,discuss,A RESPECTED senior French police officer inves...

In [8]:
talos_data = FncData(
    bodies_csv_path=os.path.join(FNC_DATA_PATH, 'competition_test_bodies.csv'),
    stances_csv_path=os.path.join('talos', 'averaged_2models_cor4.csv'))
talos_data.headlines_bodies_and_stances.head()

,Headline,Body ID,Stance,articleBody
0,Ferguson riots: Pregnant woman loses eye after...,2008,unrelated,A RESPECTED senior French police officer inves...
1,Apple Stores to install safes to secure gold A...,2008,unrelated,A RESPECTED senior French police officer inves...
2,Pregnant woman loses eye after police shoot be...,2008,unrelated,A RESPECTED senior French police officer inves...
3,We just found out the #Ferguson Protester who ...,2008,unrelated,A RESPECTED senior French police officer inves...
4,Police Chief In Charge of Paris Attacks Commit...,2008,agree,A RESPECTED senior French police officer inves...

In [9]:
talos_official_data = FncData(
    bodies_csv_path=os.path.join(FNC_DATA_PATH, 'competition_test_bodies.csv'),
    stances_csv_path=os.path.join('talos', 'official_averaged_2models_cor4.csv'))
talos_official_data.headlines_bodies_and_stances.head()

,Headline,Body ID,Stance,articleBody
0,Ferguson riots: Pregnant woman loses eye after...,2008,unrelated,A RESPECTED senior French police officer inves...
1,Apple Stores to install safes to secure gold A...,2008,unrelated,A RESPECTED senior French police officer inves...
2,Pregnant woman loses eye after police shoot be...,2008,unrelated,A RESPECTED senior French police officer inves...
3,We just found out the #Ferguson Protester who ...,2008,unrelated,A RESPECTED senior French police officer inves...
4,Police Chief In Charge of Paris Attacks Commit...,2008,agree,A RESPECTED senior French police officer inves...

In [10]:
ucl_stances = pd.read_csv(os.path.join('ucl', 'predictions_test.csv'))
ucl_headlines_and_stances = pd.concat([
        competition_data.headlines_and_stances[['Headline', 'Body ID']],
        ucl_stances
    ], axis=1)
ucl_headlines_and_stances.to_csv(
    os.path.join('ucl', 'predictions_test_with_headlines.csv'), index=False)

In [11]:

ucl_data = FncData(
    bodies_csv_path=os.path.join(FNC_DATA_PATH, 'competition_test_bodies.csv'),
    stances_csv_path=os.path.join('ucl', 'predictions_test_with_headlines.csv'))
ucl_data.headlines_bodies_and_stances.head()

,Headline,Body ID,Stance,articleBody
0,Ferguson riots: Pregnant woman loses eye after...,2008,unrelated,A RESPECTED senior French police officer inves...
1,Apple Stores to install safes to secure gold A...,2008,unrelated,A RESPECTED senior French police officer inves...
2,Pregnant woman loses eye after police shoot be...,2008,unrelated,A RESPECTED senior French police officer inves...
3,We just found out the #Ferguson Protester who ...,2008,unrelated,A RESPECTED senior French police officer inves...
4,Police Chief In Charge of Paris Attacks Commit...,2008,discuss,A RESPECTED senior French police officer inves...

In [12]:
ucl_official_stances = pd.read_csv(
    os.path.join('ucl', 'official_predictions_test.csv'))
ucl_official_headlines_and_stances = pd.concat([
        competition_data.headlines_and_stances[['Headline', 'Body ID']],
        ucl_official_stances
    ], axis=1)
ucl_official_headlines_and_stances.to_csv(
    os.path.join('ucl', 'official_predictions_test_with_headlines.csv'))

In [13]:
ucl_official_data = FncData(
    bodies_csv_path=os.path.join(FNC_DATA_PATH, 'competition_test_bodies.csv'),
    stances_csv_path=os.path.join('ucl', \
        'official_predictions_test_with_headlines.csv'))
ucl_official_data.headlines_bodies_and_stances.head()

,Unnamed: 0,Headline,Body ID,Stance,articleBody
0,0,Ferguson riots: Pregnant woman loses eye after...,2008,unrelated,A RESPECTED senior French police officer inves...
1,1481,Apple Stores to install safes to secure gold A...,2008,unrelated,A RESPECTED senior French police officer inves...
2,3041,Pregnant woman loses eye after police shoot be...,2008,unrelated,A RESPECTED senior French police officer inves...
3,5210,We just found out the #Ferguson Protester who ...,2008,unrelated,A RESPECTED senior French police officer inves...
4,9999,Police Chief In Charge of Paris Attacks Commit...,2008,discuss,A RESPECTED senior French police officer inves...

In [14]:
evaluator = Evaluator()

In [15]:
competition_stances = competition_data.headlines_and_stances['Stance']

### Rezultati tima Athene na test dataset-u iz natjecanja

In [16]:
# Rezultati klasifikacije pomoću reproduciranog modela
evaluator.show(competition_stances, athene_data.headlines_and_stances['Stance'])

              Agree  Disagree  Discuss  Unrelated  Accuracy (%)
0      Agree    905        25      794        179         47.56
1   Disagree    241        30      241        185          4.30
2    Discuss    537        27     3523        377         78.92
3  Unrelated     23         4      123      18199         99.18
4    Overall      0         0        0          0         89.16

Results:
    score: 9474.0
    score percentage: 81.3132

In [17]:
# Rezultati klasifikacije na temelju službenog rješenja
evaluator.show(competition_stances, \
    athene_official_data.headlines_and_stances['Stance'])

              Agree  Disagree  Discuss  Unrelated  Accuracy (%)
0      Agree    851        69      826        157         44.72
1   Disagree    241        66      241        149          9.47
2    Discuss    466        37     3611        350         80.89
3  Unrelated     19         4      115      18211         99.25
4    Overall      0         0        0          0         89.48

Results:
    score: 9550.75
    score percentage: 81.9719

### Rezultati tima Talos na test dataset-u iz natjecanja

In [18]:
# Rezultati klasifikacije pomoću reproduciranog modela
evaluator.show(competition_stances, talos_data.headlines_and_stances['Stance'])

              Agree  Disagree  Discuss  Unrelated  Accuracy (%)
0      Agree   1145        19      564        175         60.17
1   Disagree    276        10      290        121          1.43
2    Discuss    873         4     3340        247         74.82
3  Unrelated     38         0      204      18107         98.68
4    Overall      0         0        0          0         88.94

Results:
    score: 9528.25
    score percentage: 81.7788

In [19]:
# Rezultati klasifikacije na temelju službenog rješenja
evaluator.show(competition_stances, \
    talos_official_data.headlines_and_stances['Stance'])

              Agree  Disagree  Discuss  Unrelated  Accuracy (%)
0      Agree   1114        17      588        184         58.54
1   Disagree    275        13      294        115          1.87
2    Discuss    823         6     3401        234         76.19
3  Unrelated     35         0      203      18111         98.70
4    Overall      0         0        0          0         89.08

Results:
    score: 9556.5
    score percentage: 82.0212

### Rezultati tima UCL na test dataset-u iz natjecanja

In [20]:
# Rezultati klasifikacije pomoću reproduciranog modela
evaluator.show(competition_stances, ucl_data.headlines_and_stances['Stance'])

              Agree  Disagree  Discuss  Unrelated  Accuracy (%)
0      Agree    869        10      916        108         45.66
1   Disagree    229        25      330        113          3.59
2    Discuss    535        41     3641        247         81.56
3  Unrelated     60        11      423      17855         97.31
4    Overall      0         0        0          0         88.10

Results:
    score: 9514.0
    score percentage: 81.6565

In [21]:
# Rezultati klasifikacije na temelju službenog rješenja
evaluator.show(competition_stances, \
    ucl_official_data.headlines_and_stances['Stance'])

              Agree  Disagree  Discuss  Unrelated  Accuracy (%)
0      Agree    838        12      939        114         44.04
1   Disagree    179        46      356        116          6.60
2    Discuss    523        46     3633        262         81.38
3  Unrelated     53         3      330      17963         97.90
4    Overall      0         0        0          0         88.46

Results:
    score: 9521.5
    score percentage: 81.7208

In [22]:
# competition_all_teams_data = pd.concat([
#         competition_data.headlines_and_stances[['Headline', 'Body ID', 'Stance']],
#         athene_official_data.headlines_and_stances[['Stance']],
#         talos_official_data.headlines_and_stances[['Stance']],
#         ucl_official_data.headlines_and_stances[['Stance']],
#     ],
#     axis=1
# )
# competition_all_teams_data.columns = ['Headline', 'Body ID', \
#     'Stance', 'AtheneStance', 'TalosStance', 'UclStance']
#competition_all_teams_data

In [23]:
#competition_all_teams_data.to_csv('competition_all_teams_data.csv', index=False)